page-login {
 .item{
  margin:15px auto;
   font-family: "Roboto", "Helvetica Neue", sans-serif;
   letter-spacing: 3px;
   font-size: medium;

}

  .header{
    letter-spacing: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

  }

  .title{
    font-size: xx-large;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

  }
  .ion-diagnostic-title
  {
    font-size: xx-large;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

  }
}
